*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
    background-image:url(../imagenes/Fondo\ desenfocado.webp);
}
.encabezado {
  background-image: linear-gradient(pink, cyan);
    top: 0px;
    display: flex;
    justify-content: space-around;
    position: static;
    width: 100%;
    border: 2px solid black;
    animation-duration: 3s;
    animation-name: slidein;
             }
             @keyframes slidein {
                from {
                  margin-left: 100%;
                  width: 300%
                }
              
                to {
                  margin-left: 0%;
                  width: 100%;
                }
              }
             header nav {
                margin: auto;
                justify-content: center;
                display: inline-block;
             }
             header nav ul li {
                
                display: inline;
                width: 40%;
                margin-right: 20px; 
                font-weight: bold; 
                font-style: italic;
                padding: auto;
                text-decoration: none;
            }
            
             ul li:hover ul {
                 position: absolute;
                display:block;
                background-image: linear-gradient(silver, cyan);
                padding: 20px;
                border: 2px solid black;
                transform: skewY(8deg)
                }
footer {
  background-image: linear-gradient(silver, cyan);
    top: 0px;
    display: flex;
    justify-content: space-around;
    position: static;
    width: 100%;
    border: 2px solid black;
}
    footer nav{
            margin: auto;
            justify-content: center;
            display: inline-block;
    }
    footer nav ul li {
        display: inline;
        width: 10%;
        margin-right: 20px; 
        font-weight: bold; 
        font-style: italic;
        padding: auto;
        text-decoration: none;
    }

#bgCarrito {
  background-image: linear-gradient(pink, cyan);
}
#pIntro{
  background-image: linear-gradient(silver, cyan);
}
#cardItem{
  background-color: rgb(11, 51, 51);
}